{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2 style="text-align:center">{{ search | title }}</h2>
    <div class="row">
        {% for post in posting %}
          <div class="col s4">
              <div class="card">
                  <div class="card-image">
                      
                      {% if post.3 %}
                          <a href="{{ post.1 }}"> <img src="{{ post.3 }}" alt=""></a>

                      {% else %}
                        <a href="{{ post.1 }}">
                            <img class = "no-prod-img" src="{% static "images/img_not_found_prod_it.jpg" %}">
                        </a>    
                      {% endif %}
                  </div>
                  <div class="card-content">
                        <p>{{ post.0 }}</p>
                  </div>
                  <div class="card-action">
                        <a href="{{ post.1 }}">View Listing Price :{{ post.2 }}</a>
                  </div>
              </div>
          </div>
        {% endfor %}
    </div>
{% endblock content %}