{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>small search data</title>
    <meta name="vieport" content="width = device-width , initial-scale = 1" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <!-- materialize Css -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav>
      <div class="container nav-wrapper">
        <a href="/" class="brand-logo"> Good Search</a>
        <ul id="nav-mobile" class="right">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <h1 style="text-align: center;">
        What do you like to search for on good search??
      </h1>
      <div class="row">
        <div class="col s4">
          <div class="center">
            <i class="large material-icons" style="color = #EE6E73">flash_on</i>
            <p>Fast craigslist scraper</p>
            <p class="light center">
              Scrap away right here with a beautiful GUI
            </p>
          </div>
        </div>
        <div class="col s4">
          <div class="center">
            <i class="large material-icons" style="color:orange"> camera</i>
            <p>Filter your searches</p>
            <p class="light center">
              We built in functionality to filter base on pricing
            </p>
          </div>
        </div>
        <div class="col s4">
          <div class="center">
            <i class="large material-icons" style="color:blue">
              chrome_reader_mode</i
            >
            <p>A much beautiful front-end to good search</p>
            <p class="light center">We built this for YOU</p>
          </div>
        </div>
      </div>
      <h2>Hello to good search</h2>

      <form action="{% url 'new_search' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="search" value="search" placeholder="search" />
        <button
          class="btn waves-effect waves-light"
          type="submit"
          name="action"
        >
          Submit
          <i class="material-icons right">flash_on</i>
        </button>
      </form>

      {% block content %}
      
      {% endblock content %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
`
